*{
    flex-wrap: wrap;
}
.body{
    color: beige;
    border: 10px solid red;
 }
 header{
      /* background-image: url('tr.png'); */
      /* background-position: top; */
      border: 3px solid purple;
      border-radius: 9px;
      margin: 2px auto;
      padding: 13px 4px;
      flex-wrap:wrap ;
      /* position: relative; */
  }
  /* Css Reset */
  body {
      font-family: Book Antiqua;
      /* color: rgb(13, 14, 13); */
      margin: 0px;
      padding: 0px;
      /* background-image:  url("da.jpg"); */
      /* background-repeat: fixed; */
  }

  .left {
      display: inline-block;
      /* border-radius: 50%; */
      /* border: 2px solid red; */
      position: absolute;
      left: 24px;
      top: 34px;
  }

  .left img {
      display: block;
      border:3px solid white;
      border-radius: 50%;
      width: 136px;
      margin: 3px auto;
      /* filter: invert(100%); */
  }

  .left div {
      line-height: 19px;
      font-size: 30px;
      text-align: center;
  }

  .mid {
      display: block;
      width: 66%;
      margin: 20px auto;
      /* border: 2px solid red; */
  }
  .right {

      position: absolute;
      right: 34px;
      top: 34px;
      display: inline-block;
      /* border: 2px solid red; */
  }
  .navbar {
      display: inline-block;
  }

  .navbar li {
      font-size: 20px;
      display: inline-block;
  }

  .navbar li a {
      font-weight: bold;
      color: rgb(240, 230, 230);
      text-decoration: none;
      padding: 5px 5px
  }

  .navbar li a:hover,
  .navbar li a.active {
      text-decoration: none;
      color: rgb(4, 0, 255);
      background-color: white;
      border-radius: 32px;
      cursor: pointer;;
  }
  .btn {
      font-family: cursive;
      margin: 0px 2px;
      /* background-color: rgb(228, 222, 222); */
      /* color: white; */
      padding: 4px 11px;
      border: 3px solid rgb(255, 251, 0);
      border-radius: 10px;
      font-size: 20px;
      /* cursor: pointer; */
  }
  .btn:hover{
      background-color: rgb(71, 64, 64);
      color: lime;
      text-decoration: none;
  }
  h1{
      
    display: block;
    text-align: center;
    width: 90%;
    margin: auto;
    
    /* border-radius:13px; */
    font-size: 45px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: bold;
    font-variant: inherit;
    /* background-image: url("tr.png"); */
    padding: 10px;
    cursor:pointer;
    text-shadow: 4px 4px #e70404;
  }

  .a1:hover{
      color: rgb(66, 25, 216);
      text-decoration: underline;
  }

  .exp{
     color: rgb(204, 248, 10);
     border:2px solid rgb(255, 0, 0);
     border-radius: 10px;
     width:auto;
     margin: 3px auto;
     padding: 4px 12px;
     /* background-image: url("171.jpg"); */
     /* background-position: left; */
     font-family: Arial, Helvetica, sans-serif;
     font-size: 34px;
     font-weight: bold;
     /* cursor: pointer; */
     text-align: center;
     text-shadow: 2px 2px #0184ff;
     text-decoration: none;
  }
  .exp:hover{
      color: lawngreen;
      text-decoration: underline;
      background-color: rgb(17, 15, 15);
      /* color: lime; */
      /* text-decoration: none; */
     /* text-decoration: none; */

  }
  .name{
      border: 5px ;
      border-right-color: chartreuse;
      border-left-color: rgb(228, 20, 20);
      border-top-color: darkred;
      border-bottom-color: yellow;
      border-radius: 10px;
      /* background-image: url("30.jpg"); */
      /* background-position: center; */
      border-style: groove;
      /* border-image: url("9\ \(2\).jpeg"); */
      height: 160px;
      width: 99%;
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-around;
      align-items: center;
  }
  .name img{
      border:2px solid yellow;
      border-style: dashed;
  }
  button{
      border: 3px solid navy;
      background-color: black;
      border-radius: 26px;
      text-decoration: none;
  }
  .ptr{
    border: 3px solid #f1a409;
    /* text-align: center; */
    border-radius: 45px;
    width:auto;
    margin: 40px auto;
    padding: 10px 420px;
    background-color: rgb(12, 17, 17);
    background-position: center;
    box-shadow: 5px 10px rgb(209, 198, 198);
    float: left;
  }
  .ptr h1:hover{
      color: oldlace;
      text-decoration: none;
  }
  button.trp{
      color: aqua;
      /* float:right; */
      display: inline-block;
      margin-top: 112px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      text-shadow: 2px 2px rgb(189, 9, 9);
      width: 93px 6px;
      padding: 0px 25px;
      box-shadow: 3px 3px rgb(231, 72, 9); 
      /* background-image: url("th\ \(14\).jfif"); */
      /* background-position: center; */
  }
  button.trp:hover{
      color: rgb(12, 12, 11);
  }
  button.alt{
      color: orchid;
      border:3px solid aquamarine;
      border-radius: 12px;
      width: 210px;
      height: 35px;
      font-family: cursive;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
  }
  button.alt:hover{
      color: bisque;
  }
  /* .mit img{
      border: 5px solid rgb(147, 196, 13);
      border-style: groove;
      border-top-color:  rgb(29, 123, 185);
      width: 210px;
      padding: 28px 17px;
  } */
  .mit img{
    border: 5px solid rgb(190, 79, 5);
    border-style: groove;
    border-top-color:  rgb(0, 153, 255);
    width: 200;
    height: 100;
    border-radius: 14px;
    cursor: pointer;
}
.mit img:hover{
    background-color: rgb(207, 221, 11);
    box-shadow: 4px 4px aqua;
}
.sit{
    color: beige;
    margin-top: 8px;
    border: 2px solid grey;
    border-radius: 13px;
    width:1240px;
    float: left;

  }
p.sit{
    color: rgb(238, 255, 0);
    border:3px solid rgb(0, 238, 255);
    background-color:rgb(226, 43, 43);
    /* background-color:; */
    font-size: 23px;
    text-align: center;
    border-radius: 10px;
}